<div class="about" id="about">
  <div class="container">
    <h6>About</h6>
    <div class="col-md-5 about-left">
      <h3>Welcome</h3>
      <h5>Normal distribution of letters.</h5>
      <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved </p>


      <h5>Useful Links</h5>
        <ul>
          <li><a href="#"><span></span>Cardiology </a></li>
          <li><a href="#"><span></span>Check-Up Examinations </a></li>
          <li><a href="#"><span></span>Urgent Surgery</a></li>
          <li><a href="#"><span></span>Ask a Best Doctor </a></li>
          <li><a href="#"><span></span>Nutrition & Supplements </a></li>
          <li><a href="#"><span></span>Careers </a></li>
          <li><a href="#"><span></span>Free Consulting</a></li>
          <li><a href="#"><span></span>Special Treatments</a></li>
        </ul>

    </div>
    <div class="col-md-7 about-right">
        <h3>Fresh Articles & Publications</h3>
      <div class="abt-top">
        <div class="abt-lft">
          <img src="images/p3.jpg" class="img-responsive" alt="">
        </div>
        <div class="abt-rgt">
          <h4>First true generator</h4>
          <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many</p>
        </div>
          <div class="clearfix"></div>
      </div>
      <div class="abt-top">
        <div class="abt-lft">
          <img src="images/4.jpg" class="img-responsive" alt="">
        </div>
        <div class="abt-rgt">
          <h4>The generated Lorem </h4>
          <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many</p>
        </div>
          <div class="clearfix"></div>
      </div>
    </div>
      <div class="clearfix"></div>
  </div>
</div>
<!-- about -->
