<div class="about" id="about">
  <div class="container">
    <h6>About</h6>
    <div class="col-md-5 about-left">
      <h3>Welcome</h3>
      <h5>Normal distribution of letters.</h5>
      <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved </p>


      <h5>Partner Links</h5>
        <ul>
          <li><a href="http://www.alaska.edu/alaska/"><span></span>University of Alaska</a></li>
          <li><a href="http://www.uaf.edu/"><span></span>University of Alaska Fairbanks </a></li>
          <li><a href="http://alaska.edu/epscor"><span></span>Alaska NSF EPSCoR</a></li>
          <li><a href="http://www.nsf.gov"><span></span>National Science Foundation </a></li>
          <li><a href="https://dt.asu.edu/"><span></span>ASU Decision Theater </a></li>
          <li><a href="https://www.mccaininstitute.org/work/decision-theater/"><span></span>McCain Institute Decision Theater</a></li>
          <li><a href="http://gina.alaska.edu"><span></span>UAF Geographic Information Network of Alaska<a></li>
        </ul>

    </div>
    <div class="col-md-7 about-right">
        <h3>Fresh Articles & Publications</h3>
      <div class="abt-top">
        <div class="abt-lft">
          <img src="images/p3.jpg" class="img-responsive" alt="">
        </div>
        <div class="abt-rgt">
          <h4>First true generator</h4>
          <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many</p>
        </div>
          <div class="clearfix"></div>
      </div>
      <div class="abt-top">
        <div class="abt-lft">
          <img src="images/4.jpg" class="img-responsive" alt="">
        </div>
        <div class="abt-rgt">
          <h4>The generated Lorem </h4>
          <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many</p>
        </div>
          <div class="clearfix"></div>
      </div>
    </div>
      <div class="clearfix"></div>
  </div>
</div>
<!-- about -->
