<div class="gallery" id="gallery">
  <div class="container">
    <div class="gallery-top heading">
      <h6>Our Gallery</h6>
    </div>
    <div class="gallery-bottom">
    <div class="grid">
      <div class="col-md-4 g-left">
        <a href="images/12.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
        <figure class="effect-apollo">
            <img src="images/12.jpg" alt="">
            <figcaption>
            </figcaption>
        </figure>
        </a>
      </div>
      <div class="col-md-4 g-left">
        <a href="images/11.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
          <figure class="effect-apollo">
            <img src="images/11.jpg" alt="">
            <figcaption>
            </figcaption>

        </figure>
        </a>
      </div>
      <div class="col-md-4 g-left">
        <a href="images/10.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
        <figure class="effect-apollo">
            <img src="images/10.jpg" alt="">
          <figcaption>

          </figcaption>
        </figure>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="grid">
      <div class="col-md-4 g-left">
        <a href="images/9.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
        <figure class="effect-apollo">
            <img src="images/9.jpg" alt="">
          <figcaption>

          </figcaption>
        </figure>
        </a>
      </div>
        <div class="col-md-4 g-left">
        <a href="images/8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
        <figure class="effect-apollo">
            <img src="images/8.jpg" alt="">
          <figcaption>

          </figcaption>
        </figure>
        </a>
      </div>
      <div class="col-md-4 g-left">
        <a href="images/7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
        <figure class="effect-apollo">
            <img src="images/7.jpg" alt="">
          <figcaption>

          </figcaption>
        </figure>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="grid">
      <div class="col-md-4 g-left">
        <a href="images/6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
        <figure class="effect-apollo">
            <img src="images/6.jpg" alt="">
          <figcaption>

          </figcaption>
        </figure>
        </a>
      </div>
        <div class="col-md-4 g-left">
        <a href="images/5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
        <figure class="effect-apollo">
            <img src="images/5.jpg" alt="">
          <figcaption>

          </figcaption>
        </figure>
        </a>
      </div>
      <div class="col-md-4 g-left">
        <a href="images/2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
        <figure class="effect-apollo">
            <img src="images/2.jpg" alt="">
          <figcaption>
            Alaska SWOT analysis
          </figcaption>
        </figure>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
    </div>
  </div>
</div>
