<div class="news" id="news">
  <div class="container">
    <h6>DTN News</h6>
    <div class="col-md-8 news-left">
      <h3>DTN in the news</h3>
      <h4>super words</h4>
      <p> optional words</p>
      <div class="insu">
      <ul>
          <li><a href="#"><span></span>News paper </a></li>
          <li><a href="#"><span></span>EPSCoR newsletter link</a></li>
          <li><a href="#"><span></span>(asu notice or site?)</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 news-right">
      <h3>Announcements</h3>
      <img src="images/3.jpg" class="img-responsive" alt="">
      <h4>Arctic Science Summit Week</h4>
      <p> Three tours of DTN for the ASSW </p>




    </div>
    <div class="clearfix"></div>
  </div>
</div>
