<div class="insurance" id="news">
  <div class="container">
    <h6>DTN News</h6>
    <div class="col-md-8 insurance-left">
      <h3>Insurance Information</h3>
      <h4>Insurance</h4>
      <p> The point of using Lorem Ipsum is that it has a more-or-less normal that it has a more-or-less normal distribution of letters, as opposed distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
      <div class="insu">
      <ul>
          <li><a href="#"><span></span>Choice Care/Humana</a></li>
          <li><a href="#"><span></span>Cigna Healthcare </a></li>
          <li><a href="#"><span></span>First Health</a></li>
          <li><a href="#"><span></span>Med Cost</a></li>
          <li><a href="#"><span></span>One Health Plan</a></li>
          <li><a href="#"><span></span>Private Health Care Systems </a></li>
          <li><a href="#"><span></span>United Healthcare</a></li>
          <li><a href="#"><span></span>Well Path</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 insurance-right">
      <h3>Announcements</h3>
      <img src="images/3.jpg" class="img-responsive" alt="">
      <h4>That it has a more-or-less</h4>
      <p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>




    </div>
    <div class="clearfix"></div>
  </div>
</div>
