<div class="news" id="news">
  <div class="container">

    <div class="col-md-8 news-left">

    <h3>DTN in the news</h3>
      <div class="insu">
      
      <ul class="well lead list-unstyled">
      {% for post in site.news %}
        <li>
          <a href="{{ post.url }}"><span></span>{{ post.title}}</a>
        </li>
      {% endfor %}
      </ul>

      </div>
    </div>

    <div class="col-md-4 news-right">

    <h3>Announcements</h3>

    <img src="images/3.jpg" class="img-responsive" alt="">

    {% for post in site.annoucements %}
      <h4> {{ post.title }}<h4>
      <p>  {{ post.subject }} </p>
    {% endfor %}

    </div>


    <div class="clearfix"></div>
  </div>
</div>
