<div class="ourteam">
		<div class="container">
			<h6>Our Team</h6>
			<ul class="ch-grid">
					<li>
						<a href="#"><div class="ch-item ch-img-1">
							<div class="ch-info">
								<div class="soci">
									<h5><a href="#"><i class="f-1"> </i></a>
									<a href="#"><i class="t-1"> </i></a>
									<a href="#"><i class="g-1"> </i></a></h5>
								</div>
							</div>
						</div></a>
					</li>
					<li>
						<a href="#"><div class="ch-item ch-img-2">
							<div class="ch-info">
								<div class="soci">
									<h5><a href="#"><i class="f-1"> </i></a>
									<a href="#"><i class="t-1"> </i></a>
									<a href="#"><i class="g-1"> </i></a></h5>
								</div>
							</div>
						</div></a>
					</li>
					<li>
						<a href="#"><div class="ch-item ch-img-3">
							<div class="ch-info">
								<div class="soci">
									<h5><a href="#"><i class="f-1"> </i></a>
									<a href="#"><i class="t-1"> </i></a>
									<a href="#"><i class="g-1"> </i></a></h5>
								</div>
							</div>
						</div></a>
					</li>
					<li>
						<a href="#"><div class="ch-item ch-img-4">
							<div class="ch-info">
								<div class="soci">
									<h5><a href="#"><i class="f-1"> </i></a>
									<a href="#"><i class="t-1"> </i></a>
									<a href="#"><i class="g-1"> </i></a></h5>
								</div>
							</div>
						</div></a>
					</li>
				</ul>
		<div class="social">
			<h3>Follow Us</h3>
			<ul>
				<li><a href="https://www.facebook.com/AKEPSCoR"><i class="facebok"> </i></a></li>
				<li><a href="https://twitter.com/akepscor"><i class="twiter"> </i></a></li>
					<div class="clearfix"></div>
			</ul>
		</div>
		</div>
	</div>
