<div class="projects" id="projects">
  <div class="container">
    <h6>Projects</h6>

    <div class="col-md-3 projects-left">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <h3>Science</h3>
      <P>EPScoR awarded four minigrants to develope data to decsion making things.
        * D2D awards
      </p>
      <a class="hvr-shutter-in-horizontal" href="#">More</a>
    </div>
    <div class="col-md-3 projects-left">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <h3>Economic</h3>
      <P>
        Entreprenourship meeting.
      </p>
      <a class="hvr-shutter-in-horizontal" href="#">More</a>
    </div>
    <div class="col-md-3 projects-left">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      <h3>Education</h3>
      <P>Vanessa and matt.
      </p>
      <a class="hvr-shutter-in-horizontal" href="#">More</a>
    </div>
    <div class="col-md-3 projects-left">
      <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
      <h3>Collaboration</h3>
      <P>
        Grant writing and ASSW.
      </p>
      <a class="hvr-shutter-in-horizontal" href="#">More</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
