<div class="services" id="projects">
  <div class="container">
    <h6>Projects</h6>
    <div class="col-md-3 services-left">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <h3>Emergency</h3>
      <P>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
      <a class="hvr-shutter-in-horizontal" href="#">More</a>
    </div>
    <div class="col-md-3 services-left">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <h3>Our Advice</h3>
      <P>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
      <a class="hvr-shutter-in-horizontal" href="#">More</a>
    </div>
    <div class="col-md-3 services-left">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      <h3>On-Line Help</h3>
      <P>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
      <a class="hvr-shutter-in-horizontal" href="#">More</a>
    </div>
    <div class="col-md-3 services-left">
      <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
      <h3>New Services</h3>
      <P>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
      <a class="hvr-shutter-in-horizontal" href="#">More</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
