<section class="slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="banner-info">
          <h2>
            People...
            <small>
              Desirablilty
            </small>
          </h2>
          <p>Engaging people in conversations to develop data driven solutions</p>
        </div>
      </li>
      <li>
        <div class="banner-info">
          <h2>
            Data...
            <small>
              Reliability
            </small>
          </h2>
          <p>Gathering and analysing data to inform conversations about complex problems big and small.</p>
        </div>
      </li>
      <li>
        <div class="banner-info">
          <h2>
            Solutions...
            <small>

              Sustainability
            </small>
          </h2>
          <p>Developing sustainable, commuity driven solutions to complex problems.</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- FlexSlider -->
<script defer="" src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
  $(function() {

  });
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      start: function(slider) {
        $('body').removeClass('loading');
      }
    });
  });
</script>
<!-- FlexSlider -->
