<section class="slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="banner-info">
          <h2>People</h2>
          <h4>Desirablilty</h4>
          <p>Engaging people in conversations to develop data driven solutions</p>
          <a class="hvr-shutter-in-horizontal" href="#">Read More</a>
        </div>
      </li>
      <li>
        <div class="banner-info">
          <h2>Data</h2>
          <h4>Reliability</h4>
          <p>Gathering and analysing data to inform conversations about complex problems big and small.</p>
          <a class="hvr-shutter-in-horizontal" href="#">Read More</a>
        </div>
      </li>
      <li>
        <div class="banner-info">
          <h2>Solutions</h2>
          <h4>Sustainability</h4>
          <p>Developing sustainable, commuity driven solutions to complex problems.</p>
          <a class="hvr-shutter-in-horizontal" href="#">Read More</a>
        </div>
      </li>
    </ul>
  </div>
</section>

      <!-- FlexSlider -->
            <script defer="" src="js/jquery.flexslider.js"></script>
            <script type="text/javascript">
            $(function(){

            });
            $(window).load(function(){
              $('.flexslider').flexslider({
              animation: "slide",
              start: function(slider){
                $('body').removeClass('loading');
              }
              });
            });
            </script>
        <!-- FlexSlider -->
